{% extends "base.html" %}
{% block content %}
    <h2 class="barevny_text">InsureMonkey</h2>
    <br>
    <p>Společnost <strong>BearCock Technology</strong> patří ke špičce na trhu se softwarem a aplikace <strong><span class="barevny_text">InsureMonkey</span></strong> je toho nesporným důkazem - těžko budete na trhu hledat lepší produkt pro správu dat. InsureMonkey umožňuje vkládat do databáze pojištěnce a pojistné události. Dále je možné tato data dále editovat a pracovat s nimi.
    Díky pokročilé správě dat můžete pojištěncům nastavit typ pojištění a vypisovat všechny potřebné údaje. Díky několikafázové ochraně jsou data vždy v bezpečí a jsou chráněna před útoky zvnějšku. <br>
    Aby mohl nově registrovaný uživatel používat všechny funkce aplikace, je nutné, aby mu superadmin udělil práva administrátora <a href=http://localhost:8000/admin/>zde</a>. 
    Nepřihlášený uživatel nebo uživatel s nedostatečnými oprávněními uvidí pouze nabídku pojištění.
    <p>V případě dotazů můžete kontaktovat zákaznickou podporu, tel.: 495 800 008</p>
{% endblock %}
<a href="url">Text odkazu</a>
